.mantinia {
  font-family: mantinia, serif;
  font-weight: 400;
  font-style: normal;
}

.nelson-bold {
  font-family: nelson,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mrdarcy-bold {
  font-family: mr-darcy,sans-serif;
font-weight: 600;
font-style: normal;
}

.garamond-italic {
  font-family: eb-garamond,serif;
  font-weight: 400;
  font-style: italic;
}

.garamond-bold {
  font-family: eb-garamond,serif;
  font-weight: 700;
  font-style: normal;
}

.garamond-b-italic {
  font-family: eb-garamond,serif;
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: eb-garamond,serif;
  font-weight: 400;
  font-style: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background:#FFF;
  margin:0 !important;
  overflow: hidden; /* Hide the scrollbars */
}

canvas {
  margin:0 !important;
}

#story-map {
  cursor:grabbing;
}

.timeline {
  color: grey;
}
